/link/.config/git/config-local
/link/.config/nvim/.netrwhist
/link/.config/nvim/lazy-lock.json
/link/.vim/.netrwhist
/link/.vim/black/
/link/.vim/bundle/
/link/.vim/plugged/
/link/.vim/spell/
/link/.vim/undo/
/link/.vim/view/
/link/.vim/vundle-log.txt
/link/.zsh/Session.vim
/link/.zsh/cache/
